{% extends 'main/base.html' %}
{% load static %}
{% block content %}

    <!-- Main Slider Section -->
    <section id="slider">
      <div class="tp-banner-container">
        <div class="tp-banner">
          <ul>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="assets/img/slider/slide1.jpg" data-delay="10000">
              <!-- MAIN IMAGE -->
              <img src=" {% static 'assets/img/dummy.png' %} "  alt="laptopmockup_sliderdy" data-lazyload="assets/img/slider/slide1.jpg" data-bgposition="right top" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
              <!-- LAYERS 1-->
              <div class="tp-caption sft skewtotop tp-resizeme title start" data-x="center" data-y="center" data-voffset="-90" data-speed="800" data-start="950" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
                <h3 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 24px; text-transform: uppercase; font-weight: 700; color: #fff;">Find Your Dream Apartment!</h3>
              </div>
              <!-- LAYERS 2 -->
              <div class="tp-caption largeHeadingWhite sfl str tp-resizeme start"
               data-x="center" data-y="center" data-voffset="-40" data-speed="1200" data-start="950" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="800" data-endeasing="easeInOutExpo">
                <h1 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 50px; text-transform: uppercase; font-weight: 700; color: #fff;">Get Started with <span style="color:yellow!important; font-size: 50px;">EstateX</span></h1>
              </div>
              <!-- LAYERS 3 -->
              <div class="tp-caption detailTextWhiteLarge sfl tp-resizeme start"
                data-x="center"
                data-y="center"
                data-voffset="30"
                data-speed="1200" data-start="1350" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><p style="min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 0px; font-size: 14px; color: #fff; text-align: center;">Lorem consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet <br> contetur adipiscing elit, sed do eiusmod tempor incididunt</p>                
              </div>
              <!-- LAYERS 4 -->
              <div class="tp-caption sfb tp-resizeme start" data-x="center" data-hoffset="0" data-y="center" data-voffset="90" data-speed="1200" data-start="1750" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><a href="#" class="btn btn-common btn-lg">View Details</a>  
              </div>         
            </li> 

            <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="assets/img/slider/slide2.jpg" data-delay="10000">
              <!-- MAIN IMAGE -->
              <img src=" {% static 'assets/img/dummy.png' %} "  alt="laptopmockup_sliderdy" data-lazyload="assets/img/slider/slide2.jpg" data-bgposition="right top" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
              <!-- LAYERS 1-->
              <div class="tp-caption sft skewtotop tp-resizeme title start" data-x="center" data-y="center" data-voffset="-90" data-speed="800" data-start="950" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
                <h3 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 24px; text-transform: uppercase; font-weight: 700; color: #fff;">Get Your Dream Office!</h3>
              </div>
              <!-- LAYERS 2 -->
              <div class="tp-caption largeHeadingWhite sfl str tp-resizeme start"
               data-x="center"
               data-y="center"
               data-voffset="-40"
               data-speed="1200" data-start="950" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="800" data-endeasing="easeInOutExpo">
                <h1 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 50px; text-transform: uppercase; font-weight: 700; color: #fff;">Best Apartments to Sale</h1>
              </div>
              <!-- LAYERS 3 -->
              <div class="tp-caption detailTextWhiteLarge sfl tp-resizeme start"
                data-x="center"
                data-y="center"
                data-voffset="30"
                data-speed="1200" data-start="1350" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><p style="min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 0px; font-size: 14px; color: #fff; text-align: center;">Lorem consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet <br> contetur adipiscing elit, sed do eiusmod tempor incididunt</p>                
              </div>
              <!-- LAYERS 4 -->
              <div class="tp-caption sfb tp-resizeme start" data-x="center" data-hoffset="0" data-y="center" data-voffset="90" data-speed="1200" data-start="1750" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><a href="#" class="btn btn-common btn-lg">View Details</a>  
              </div>          
            </li> 

            <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="assets/img/slider/slide3.jpg" data-delay="10000">
              <!-- MAIN IMAGE -->
              <img src=" {% static 'assets/img/dummy.png' %} "  alt="laptopmockup_sliderdy" data-lazyload="assets/img/slider/slide3.jpg" data-bgposition="right top" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
              <!-- LAYERS 1-->
              <div class="tp-caption sft skewtotop tp-resizeme title start" data-x="center" data-y="center" data-voffset="-90" data-speed="800" data-start="950" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
                <h3 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 24px; text-transform: uppercase; font-weight: 700; color: #fff;">Find Your Dream Home!</h3>
              </div>
              <!-- LAYERS 2 -->
              <div class="tp-caption largeHeadingWhite sfl str tp-resizeme start"
               data-x="center"
               data-y="center"
               data-voffset="-40"
               data-speed="1200" data-start="950" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="800" data-endeasing="easeInOutExpo">
                <h1 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 50px; text-transform: uppercase; font-weight: 700; color: #fff;">Best Apartments to Rent </h1>
              </div>
              <!-- LAYERS 3 -->
              <div class="tp-caption detailTextWhiteLarge sfl tp-resizeme start"
                data-x="center"
                data-y="center"
                data-voffset="30"
                data-speed="1200" data-start="1350" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><p style="min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 0px; font-size: 14px; color: #fff; text-align: center;">Lorem consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet <br> contetur adipiscing elit, sed do eiusmod tempor incididunt</p>                
              </div>
              <!-- LAYERS 4 -->
              <div class="tp-caption sfb tp-resizeme start" data-x="center" data-hoffset="0" data-y="center" data-voffset="90" data-speed="1200" data-start="1750" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><a href="#" class="btn btn-common btn-lg">View Details</a>  
              </div>           
            </li>    
          </ul>
        </div>
      </div>
    </section>
    <!-- Main Slider Section End-->  

    <!-- Search Properties Start -->
    <section class="search-properties section">

          <!-- Start Search box -->

                <form class="search-form" method="POST" action="/car-search-result/">
                  {% csrf_token %}
                  <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <h2 class="section-title">Search Cars</h2>
                    </div>
                    <div class="search-bar">
                    <div class="advanced-search">
                    <div class="col-md-3 col-sm-6 search-col">
                    <div class="input-group-addon search-category-container">
                        <!-- <label class="col-sm-2 col-form-label">Price</label> -->
                          <input class="form-control" type="text" placeholder="Price in Rupees" name="price">
                  </div>
                    </div>
                    <div class="col-md-3 col-sm-6 search-col">
                        <div class="input-group-addon search-category-container">
                            <!-- <label class="col-sm-2 col-form-label">Age of Property</label> -->
                          
                                <input class="form-control" type="text" placeholder="Engine Capacity" name="engineCapacity">
                        
                        </div>
                      </div>
                
                <div class="col-md-3 col-sm-6 search-col">
                    <div class="input-group-addon search-category-container">
                        <!-- <label class="col-sm-2 col-form-label">Distance from Park</label> -->
                          <label class="styled-select location-select">
                            <select class="dropdown-product selectpicker" name="color">
                              <option>Color</option>
                              <option>red</option>
                              <option>green</option>
                              <option>black</option>
                              <option>white</option>
                              <option>yellow</option>
                              <option>blue</option>
                              <option>pink</option>
                            </select>
                          </label>
                  
                  </div>
                </div>
                
                <div class="col-md-3 col-sm-6 search-col">
                    <div class="input-group-addon search-category-container">
                      <label class="styled-select location-select"> 
                        <select class="dropdown-product selectpicker" name="brandType">
                          <option>Toyota</option>
                          <option>Honda</option>
                          <option>BMW</option>
                          <option>Suzuki</option>
                          <option>Mercedes</option>
                          <option>Audi</option>

                        </select>                                    
                      </label>
                    </div>
                  </div> 

                  <div class="col-md-3 col-sm-6 search-col">
                      <div class="input-group-addon search-category-container">
                        <label class="styled-select location-select">
                          <select class="dropdown-product selectpicker" name="modelType">
                            <option>Brand Model</option>
                            <option>GLI</option>
                            <option>XLI</option>
                            <option>Mehran</option>
                            <option>Alto</option>
                            
                          </select>                                    
                        </label>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6 search-col">
                        <div class="input-group-addon search-category-container">
                          <label class="styled-select location-select">
                            <select class="dropdown-product selectpicker" name="engineType">
                              <option>Engine Details</option>
                              <option>Diesel</option>
                              <option>Petrol</option>
                              <option>LPG</option>
                              <option>CNG</option>
                              <option>Hybrid</option>
                              
                              
                            </select>                                    
                          </label>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-6 search-col">
                          <div class="input-group-addon search-category-container">
                            <label class="styled-select location-select">
                              <select class="dropdown-product selectpicker" name="mileage">
                                <option>Mileage</option>
                                <option>10000</option>
                                <option>100000</option>
                                <option>200000</option>
                                <option>300000</option>
                                <option>400000</option>
                                
                                
                              </select>                                    
                            </label>
                          </div>
                        </div>
                            
                  <div class="col-md-3 col-sm-6 search-col">
                    <div class="input-group-addon search-category-container">
                      <label class="styled-select location-select">
                        <select class="dropdown-product selectpicker" name="city">
                          <option>All Cities</option>
                          <option>Lahore</option>
                        </select>                                    
                      </label>
                    </div>
                  </div>  
                
        
                <div class="col-md-3 col-sm-6 search-col">
                  <div class="input-group-addon search-category-container">
                    <label class="styled-select location-select">
                      <select class="dropdown-product selectpicker" name="engineChoice">
                        <option>Automatic or Manual</option>
                        <option>Automatic</option>
                        <option>Manual</option>
                      </select>                                    
                    </label>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 search-col">
                  <div class="input-group-addon search-category-container">
                    <label class="styled-select location-select">
                      <select class="dropdown-product selectpicker" name="assemblyType">
                        <option>Assembly Type</option>
                        <option>Local</option>
                        <option>Imported</option>
                      </select>                                    
                    </label>
                  </div>
                </div>

                <div class="col-md-3 col-sm-6 search-col">
                    <div class="input-group-addon search-category-container">
                      <label class="styled-select location-select">
                        <select class="dropdown-product selectpicker" name="yearlyModel">
                          <option>Yearly Model</option>
                          <option>2020</option>
                          <option>2019</option>
                          <option>2018</option>
                          <option>2017</option>
                          <option>2016</option>
                          <option>2015</option>
                          <option>2014</option>
                          <option>2013</option>
                          <option>2012</option>
                          <option>2011</option>
                          <option>2010</option>
                          <option>2009</option>
                          <option>2008</option>
                          <option>2007</option>
                          <option>2006</option>
                          <option>2005</option>
                          <option>2004</option>
                          <option>2003</option>
                          <option>2002</option>
                          <option>2001</option>
                          <option>2000</option>

                        </select>                                    
                      </label>
                    </div>
                  </div>
                <div class="col-md-3 col-sm-6 search-col">
                  <div class="input-group-addon search-category-container">
                    <label class="styled-select location-select">
                      <select class="dropdown-product selectpicker" name="registrationCity">
                        <option>Registration City</option>
                        <option>Lahore</option>
                      </select>                                    
                    </label>
                  </div>
                </div>
                  <div class="col-md-12">
                         <input type="submit" class="btn btn-common"/>
                  </div>
                    </div>
          </div>
        </div>
      </div>
      </form>
    </section>
    <!-- Search Properties End -->

    <!-- Property Section Start -->
    <section class="property section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title">Latest in Sales</h2>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <figure class="item-thumb">
                    <a class="hover-effect" href="{% url 'main:property' %}">
                      <img src=" {% static 'assets/img/property/house-1.jpg' %} " alt="">
                    </a>
                    <span class="label-featured">Featured</span>
                    <div class="label-inner">
                      <span class="label-status label">For Sale</span>
                    </div>
                    <div class="price">
                      <span class="item-price">$526.885</span>
                    </div>
                    <ul class="actions">
                      <li>
                        <span class="add-fav"><i class="icon-heart"></i></span>
                      </li>
                    </ul>
                  </figure>
                  <div class="item-body">
                    <h3 class="property-title"><a href="{% url 'main:property' %}">Corolla</a></h3>
                    <div class="adderess"><i class="icon-location-pin"></i> Faisal Town Lahore, Pakistan</div>
                    <div class="info">
                     <p>Family Car</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-foot date hide-on-list">
                <div class="pull-left">
                  <p class="prop-user-agent"><i class="icon-user"></i> <a href="#">Waseem </a></p>
                </div>
                <div class="pull-right">
                  <p class="prop-date"><i class="icon-calendar"></i>9 months ago</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <figure class="item-thumb">
                    <a class="hover-effect" href=" {% static 'property.html">
                      <img src=" {% static 'assets/img/property/house-2.jpg' %} " alt="">
                    </a>
                    <div class="label-inner">
                      <span class="label-status label">For Rent</span>
                    </div>
                    <div class="price">
                      <span class="item-price">$486.885</span>
                      <span class="item-sub-price">$3.500/sq ft</span>
                    </div>
                    <ul class="actions">
                      <li>
                        <span class="add-fav"><i class="icon-heart"></i></span>
                      </li>
                    </ul>
                  </figure>
                  <div class="item-body">
                    <h3 class="property-title"><a href="{% url 'main:property' %}">Honda City</a></h3>
                    <div class="adderess"><i class="icon-location-pin"></i> Faisal Town Lahore, Pakistan</div>
                    <div class="info">
                     <p>Family Car</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-foot date hide-on-list">
                <div class="pull-left">
                  <p class="prop-user-agent"><i class="icon-user"></i> <a href="#">Tahir</a></p>
                </div>
                <div class="pull-right">
                  <p class="prop-date"><i class="icon-calendar"></i>9 months ago</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <figure class="item-thumb">
                    <a class="hover-effect" href=" {% static 'property.html">
                      <img src=" {% static 'assets/img/property/house-3.jpg' %} " alt="">
                    </a>
                   <div class="label-inner">
                      <span class="label-status label">For Sale</span>
                    </div>
                    <div class="price">
                      <span class="item-price">$250.885</span>
                      <span class="item-sub-price">$2.500/sq ft</span>
                    </div>
                    <ul class="actions">
                      <li>
                        <span class="add-fav"><i class="icon-heart"></i></span>
                      </li>
                    </ul>
                  </figure>
                  <div class="item-body">
                    <h3 class="property-title"><a href="{% url 'main:property' %}">Mehran</a></h3>
                    <div class="adderess"><i class="icon-location-pin"></i> Faisal Town Lahore, Pakistan</div>
                    <div class="info">
                     <p>Single Family Car</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-foot date hide-on-list">
                <div class="pull-left">
                  <p class="prop-user-agent"><i class="icon-user"></i> <a href="{% url 'main:agents' %}">Talha</a></p>
                </div>
                <div class="pull-right">
                  <p class="prop-date"><i class="icon-calendar"></i>9 months ago</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <figure class="item-thumb">
                    <a class="hover-effect" href="{% url 'main:property' %}">
                      <img src=" {% static 'assets/img/property/house-4.jpg' %} " alt="">
                    </a>
                    <div class="label-inner">
                      <span class="label-status label">For Sale</span>
                    </div>
                    <div class="price">
                      <span class="item-price">$676.885</span>
                      <span class="item-sub-price">$4.500/sq ft</span>
                    </div>
                    <ul class="actions">
                      <li>
                        <span class="add-fav"><i class="icon-heart"></i></span>
                      </li>
                    </ul>
                  </figure>
                  <div class="item-body">
                    <h3 class="property-title"><a href="{% url 'main:property' %}">Alto</a></h3>
                    <div class="adderess"><i class="icon-location-pin"></i>Faisal Town Lahore, Pakistan</div>
                    <div class="info">
                     <p>Single Family Car</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-foot date hide-on-list">
                <div class="pull-left">
                  <p class="prop-user-agent"><i class="icon-user"></i> <a href="{% url 'main:agents' %}">Hamza</a></p>
                </div>
                <div class="pull-right">
                  <p class="prop-date"><i class="icon-calendar"></i>9 months ago</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <figure class="item-thumb">
                    <a class="hover-effect" href="{% url 'main:property' %}">
                      <img src=" {% static 'assets/img/property/house-5.jpg' %} " alt="">
                    </a>
                    <span class="label-featured">Featured</span>
                    <div class="label-inner">
                      <span class="label-status label">For Rent</span>
                    </div>
                    <div class="price">
                      <span class="item-price">$456.885</span>
                      <span class="item-sub-price">$3.000/sq ft</span>
                    </div>
                    <ul class="actions">
                      <li>
                        <span class="add-fav"><i class="icon-heart"></i></span>
                      </li>
                    </ul>
                  </figure>
                  <div class="item-body">
                    <h3 class="property-title"><a href="{% url 'main:property' %}">Honda City</a></h3>
                    <div class="adderess"><i class="icon-location-pin"></i> Faisal Town Lahore, Pakistan</div>
                    <div class="info">
                     <p>Family Car</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-foot date hide-on-list">
                <div class="pull-left">
                  <p class="prop-user-agent"><i class="icon-user"></i> <a href="{% url 'main:agents' %}">Hamza</a></p>
                </div>
                <div class="pull-right">
                  <p class="prop-date"><i class="icon-calendar"></i>9 months ago</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="property-main">
              <div class="property-wrap">
                <div class="property-item">
                  <figure class="item-thumb">
                    <a class="hover-effect" href="{% url 'main:property' %}">
                      <img src=" {% static 'assets/img/property/house-6.jpg' %} " alt="">
                    </a>
                    <div class="label-inner">
                      <span class="label-status label">For Sale</span>
                    </div>
                    <div class="price">
                      <span class="item-price">$756.885</span>
                      <span class="item-sub-price">$6.500/sq ft</span>
                    </div>
                    <ul class="actions">
                      <li>
                        <span class="add-fav"><i class="icon-heart"></i></span>
                      </li>
                    </ul>
                  </figure>
                  <div class="item-body">
                    <h3 class="property-title"><a href="{% url 'main:property' %}">Corolla</a></h3>
                    <div class="adderess"><i class="icon-location-pin"></i> Faisal Town Lahore, Pakistan</div>
                    <div class="info">
                     <p>Single Family Car</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-foot date hide-on-list">
                <div class="pull-left">
                  <p class="prop-user-agent"><i class="icon-user"></i> <a href="{% url 'main:agents' %}">Talha</a></p>
                </div>
                <div class="pull-right">
                  <p class="prop-date"><i class="icon-calendar"></i>9 months ago</p>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a href="gridlisting.html" class="btn btn-common">Load More</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Property Section End -->

      <!-- Property Highlights Start -->
      <section class="property-highlights">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <h2 class="title-hl">Car Highlights</h2>
              <p class="content-hl">Extensive upgrades and thorough maintenance have kept this car in prime condition. </p>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="features-box">
                    <div class="features-icon">
                      <i class="icon-map"></i>
                    </div>
                    <div class="features-content">
                      <h4>
                        Quiet Good Mileage
                      </h4>

                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="features-box">
                    <div class="features-icon">
                      <i class="icon-settings"></i>
                    </div>
                    <div class="features-content">
                      <h4>
                        Great Condition
                      </h4>
                      <p>
                        You will be delighted by the condition of car
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="btn btn-common">Learn More</a>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="touch-slider owl-carousel">
                <div class="item">
                  <img src=" {% static 'assets/img/featured/img1.jpg' %} " alt="">
                </div>
                <div class="item">
                  <img src=" {% static 'assets/img/featured/img2.jpg' %} " alt="">
                </div>
                <div class="item">
                  <img src=" {% static 'assets/img/featured/img3.jpg' %} " alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Property Highlights Section -->

      <!-- Start Portfolio Section -->
      <section id="portfolio">
        <div class="container">
          <div class="row">
            <!-- Start Heading -->
            <div class="heading">
              <h2 class="section-title text-center">Our Gallery</h2>
            </div>
            <!-- End Heading -->
            <!-- Portfolio controls -->
            <div class="controls text-center">
              <a class="filter active" data-filter="all">All</a>
              <a class="filter" data-filter=".living">Honda</a>
              <a class="filter" data-filter=".driveway">Corola</a>
              <a class="filter" data-filter=".bedroom">Mehran</a>
              <a class="filter" data-filter=".garage">City</a>
              <a class="filter" data-filter=".kitchen">Alto</a>
            </div>
            <!-- End Portfolio Controls -->
          </div>
        </div>
        <!-- Portfolio Recent Projects -->
        <div id="portfolio-list">
          <div class="col-md-3 col-sm-6 col-xs-12 mix living bedroom">
            <div class="portfolio-item">
              <img src=" {% static 'assets/img/portfolio/img-1.jpg' %} " alt="" />
              <div class="overlay">
                <div class="icon">
                  <a href="{% url 'main:singleproperty' %}"><i class="icon-link left"></i></a>
                  <a href="assets/img/portfolio/img-1.jpg' %} " class="lightbox"><i class="icon-eye right"></i></a>
                </div>
              </div>
              <div class="content">
                <h3><a href="#">Beautiful Car</a></h3>
                <p>Alto</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 mix kitchen driveway">
            <div class="portfolio-item">
              <img src=" {% static 'assets/img/portfolio/img-2.jpg' %} " alt="" />
              <div class="overlay">
                <div class="icon">
                   <a href="{% url 'main:singleproperty' %}"><i class="icon-link left"></i></a>
                  <a href="assets/img/portfolio/img-2.jpg' %} " class="lightbox"><i class="icon-eye right"></i></a>
                </div>
              </div>
              <div class="content">
                <h3><a href="#">Honda</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 mix living garage">
            <div class="portfolio-item">
              <img src=" {% static 'assets/img/portfolio/img-3.jpg' %} " alt="" />
              <div class="overlay">
                <div class="icon">
                  <a href="{% url 'main:singleproperty' %}"><i class="icon-link left"></i></a>
                  <a href="assets/img/portfolio/img-3.jpg' %} " class="lightbox"><i class="icon-eye right"></i></a>
                </div>
              </div>
              <div class="content">
                <h3><a href="#">Honda</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 mix driveway">
            <div class="portfolio-item">
              <img src=" {% static 'assets/img/portfolio/img-4.jpg' %} " alt="" />
              <div class="overlay">
                <div class="icon">
                    <a href="{% url 'main:singleproperty' %}"><i class="icon-link left"></i></a>
                    <a href="assets/img/portfolio/img-4.jpg' %} " class="lightbox"><i class="icon-eye right"></i></a>
                </div>
              </div>
              <div class="content">
                <h3><a href="#">Corolla</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 mix kitchen bedroom">
            <div class="portfolio-item">
              <img src=" {% static 'assets/img/portfolio/img-5.jpg' %} " alt="" />
              <div class="overlay">
                <div class="icon">
                  <a href="{% url 'main:singleproperty' %}"><i class="icon-link left"></i></a>
                  <a href="assets/img/portfolio/img-5.jpg' %} " class="lightbox"><i class="icon-eye right"></i></a>
                </div>
              </div>
              <div class="content">
                <h3><a href="#">Alto</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 mix living garage">
            <div class="portfolio-item">
              <img src=" {% static 'assets/img/portfolio/img-6.jpg' %} " alt="" />
              <div class="overlay">
                <div class="icon">
                  <a href="{% url 'main:singleproperty' %}"><i class="icon-link left"></i></a>
                  <a href="assets/img/portfolio/img-6.jpg' %} " class="lightbox"><i class="icon-eye right"></i></a>
                </div>
              </div>
              <div class="content">
                <h3><a href="#">City</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 mix driveway garage">
            <div class="portfolio-item">
              <img src=" {% static 'assets/img/portfolio/img-7.jpg' %} " alt="" />
              <div class="overlay">
                <div class="icon">
                  <a href="{% url 'main:singleproperty' %}"><i class="icon-link left"></i></a>
                  <a href="assets/img/portfolio/img-7.jpg' %} " class="lightbox"><i class="icon-eye right"></i></a>
                </div>
              </div>
              <div class="content">
                <h3><a href="#">Corolla</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 mix kitchen garage">
            <div class="portfolio-item">
              <img src=" {% static 'assets/img/portfolio/img-8.jpg' %} " alt="" />
              <div class="overlay">
                <div class="icon">
                  <a href="{% url 'main:singleproperty' %}"><i class="icon-link left"></i></a>
                  <a href="assets/img/portfolio/img-8.jpg' %} " class="lightbox"><i class="icon-eye right"></i></a>
                </div>
              </div>
              <div class="content">
                <h3><a href="#">Civic</a></h3>
              </div>
            </div>
          </div>
        </div>
        <!-- End Portfolio  -->
      </section>
      <!-- End Portfolio Section -->


    <!-- Counter Section Start -->
    <section id="counter">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="counting">
              <div class="desc">
                <div class="icon"><i class="icon-home"></i>
                  <h3 class="counter"> 999</h3>
                </div>
                <p>Complete Project</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="counting">
              <div class="desc">
                <div class="icon">
                  <i class="icon-key"></i><h3 class="counter">720</h3>
                </div>
                <p>Car Sold</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="counting">
              <div class="desc">
                <div class="icon">
                  <i class="icon-emotsmile"></i><h3 class="counter">450</h3>
                </div>
                <p>Happy Clients</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="counting">
              <div class="desc">
                <div class="icon">
                  <i class="icon-cup"></i><h3 class="counter">120</h3>
                </div>
                <p>Awards Win</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Counter Section End -->

    <!-- Latest Property Start -->
    <section class="latest-property" >
      <div class="container">
        <div class="row">
          <div class="col-md-12 wow fadeIn" data-wow-delay="0.8s">
            <h3 class="section-title">Latest Listings</h3>
            <div id="latest-property" class="owl-carousel">
              <div class="item">
                <div class="property-main">
                  <div class="property-wrap">
                    <div class="property-item">
                      <figure class="item-thumb">
                        <a class="hover-effect" href="{% url 'main:property' %}">
                          <img src=" {% static 'assets/img/latest/img1.jpg' %} " alt="">
                        </a>
                        <div class="label-inner">
                          <span class="label-status label">For Sale</span>
                        </div>
                        <div class="price">
                          <span class="item-price">$556.885</span>
                        </div>
                        <ul class="actions">
                          <li>
                            <span class="add-fav"><i class="icon-heart"></i></span>
                          </li>
                        </ul>
                      </figure>
                      <div class="item-body">
                        <h3 class="property-title"><a href="{% url 'main:property' %}">Honda</a></h3>
                        <div class="adderess"><i class="icon-location-pin"></i> Faisal Town Lahore, Pakistan</div>
                        <div class="adderess"><i class="icon-location-pin"></i> Faisal Town Lahore, Pakistan</div>
                        <div class="info">
                         <p>Single Family</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-foot date hide-on-list">
                    <div class="pull-left">
                      <p class="prop-user-agent"><i class="icon-user"></i> <a href="#">Talha</a></p>
                    </div>
                    <div class="pull-right">
                      <p class="prop-date"><i class="icon-calendar"></i>9 months ago</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="property-main">
                  <div class="property-wrap">
                    <div class="property-item">
                      <figure class="item-thumb">
                        <a class="hover-effect" href="{% url 'main:property' %}">
                          <img src=" {% static 'assets/img/latest/img2.jpg' %} " alt="">
                        </a>
                        <span class="label-featured">Featured</span>
                        <div class="label-inner">
                          <span class="label-status label">For Rent</span>
                        </div>
                        <div class="price">
                          <span class="item-price">$556.885</span>
                        </div>
                        <ul class="actions">
                          <li>
                            <span class="add-fav"><i class="icon-heart"></i></span>
                          </li>
                        </ul>
                      </figure>
                      <div class="item-body">
                        <h3 class="property-title"><a href="{% url 'main:property' %}">Mehran</a></h3>
                        <div class="adderess"><i class="icon-location-pin"></i> Faisal Town Lahore, Pakistan</div>
                        <div class="info">
                         <p>Single Family</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-foot date hide-on-list">
                    <div class="pull-left">
                      <p class="prop-user-agent"><i class="icon-user"></i> <a href="#">Tahir</a></p>
                    </div>
                    <div class="pull-right">
                      <p class="prop-date"><i class="icon-calendar"></i>9 months ago</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="property-main">
                  <div class="property-wrap">
                    <div class="property-item">
                      <figure class="item-thumb">
                        <a class="hover-effect" href="{% url 'main:property' %}">
                          <img src=" {% static 'assets/img/latest/img3.jpg' %} " alt="">
                        </a>
                        <div class="label-inner">
                          <span class="label-status label">For Sale</span>
                        </div>
                        <div class="price">
                          <span class="item-price">$556.885</span>
                        </div>
                        <ul class="actions">
                          <li>
                            <span class="add-fav"><i class="icon-heart"></i></span>
                          </li>
                        </ul>
                      </figure>
                      <div class="item-body">
                        <h3 class="property-title"><a href="{% url 'main:property' %}">Mehran</a></h3>
                        <div class="adderess"><i class="icon-location-pin"></i> Faisal Town Lahore, Pakistan</div>
                        <div class="info">
                         <p>Single Family</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-foot date hide-on-list">
                    <div class="pull-left">
                      <p class="prop-user-agent"><i class="icon-user"></i> <a href="#">Waseem</a></p>
                    </div>
                    <div class="pull-right">
                      <p class="prop-date"><i class="icon-calendar"></i>9 months ago</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="property-main">
                  <div class="property-wrap">
                    <div class="property-item">
                      <figure class="item-thumb">
                        <a class="hover-effect" href="{% url 'main:property' %}">
                          <img src=" {% static 'assets/img/latest/img4.jpg' %} " alt="">
                        </a>
                        <span class="label-featured">Featured</span>
                        <div class="label-inner">
                          <span class="label-status label">For Rent</span>
                        </div>
                        <div class="price">
                          <span class="item-price">$556.885</span>
                        </div>
                        <ul class="actions">
                          <li>
                            <span class="add-fav"><i class="icon-heart"></i></span>
                          </li>
                        </ul>
                      </figure>
                      <div class="item-body">
                        <h3 class="property-title"><a href="{% url 'main:property' %}">Corolla</a></h3>
                        <div class="adderess"><i class="icon-location-pin"></i> Faisal Town Lahore, Pakistan</div>
                        <div class="info">
                         <p>Single Family</p>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-foot date hide-on-list">
                    <div class="pull-left">
                      <p class="prop-user-agent"><i class="icon-user"></i> <a href="#">Hamza</a></p>
                    </div>
                    <div class="pull-right">
                      <p class="prop-date"><i class="icon-calendar"></i>9 months ago</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="property-main">
                  <div class="property-wrap">
                    <div class="property-item">
                      <figure class="item-thumb">
                        <a class="hover-effect" href="{% url 'main:property' %}">
                          <img src=" {% static 'assets/img/latest/img5.jpg' %} " alt="">
                        </a>
                        <div class="label-inner">
                          <span class="label-status label">For Sale</span>
                          <span class="label label-default">Hot Offer</span>
                        </div>
                        <div class="price">
                          <span class="item-price">$556.885</span>
                        </div>
                        <ul class="actions">
                          <li>
                            <span class="add-fav"><i class="icon-heart"></i></span>
                          </li>
                        </ul>
                      </figure>
                      <div class="item-body">
                        <h3 class="property-title"><a href="{% url 'main:property' %}">City</a></h3>
                        <div class="adderess"><i class="icon-location-pin"></i> Faisal Town Lahore, Pakistan</div>
                        <div class="info">
                         <p>Single Family</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-foot date hide-on-list">
                    <div class="pull-left">
                      <p class="prop-user-agent"><i class="icon-user"></i> <a href="#">Thir</a></p>
                    </div>
                    <div class="pull-right">
                      <p class="prop-date"><i class="icon-calendar"></i>9 months ago</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="property-main">
                  <div class="property-wrap">
                    <div class="property-item">
                      <figure class="item-thumb">
                        <a class="hover-effect" href="{% url 'main:property' %}">
                          <img src=" {% static 'assets/img/latest/img6.jpg' %} " alt="">
                        </a>
                        <span class="label-featured">Featured</span>
                        <div class="label-inner">
                          <span class="label-status label">For Sale</span>
                        </div>
                        <div class="price">
                          <span class="item-price">$556.885</span>
                        </div>
                        <ul class="actions">
                          <li>
                            <span class="add-fav"><i class="icon-heart"></i></span>
                          </li>
                        </ul>
                      </figure>
                      <div class="item-body">
                        <h3 class="property-title"><a href="{% url 'main:property' %}">Civic</a></h3>
                        <div class="adderess"><i class="icon-location-pin"></i> Faisal Town Lahore, Pakistan</div>
                        <div class="info">
                         <p>Single Family</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-foot date hide-on-list">
                    <div class="pull-left">
                      <p class="prop-user-agent"><i class="icon-user"></i> <a href="#">Talha</a></p>
                    </div>
                    <div class="pull-right">
                      <p class="prop-date"><i class="icon-calendar"></i>9 months ago</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Latest Property End -->

    <!-- Start Agent Member Section -->
    <section class="section">
      <div class="container">
        <!-- Start Big Heading -->
        <h2 class="section-title text-center">Meet Our Agent</h2>
        <!-- End Big Heading -->
        <!-- Some Text -->
        <p class="description text-center">
        Please feel free to contact us at any time. We are here to help you.
        </p>
        <div class="row">
          <!-- Start Memebr 1 -->
          <div class="col-md-3 col-sm-6">
            <div class="agent-member">
              <div class="agent-thumbnail">
                <img src=" {% static 'assets/img/agent/agent-01.png' %} " alt="">
                <div class="overlay">
                  <div class="social-media">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
              <div class="info">
                <h4>Tahir Hameed</h4>
                <p>Real Estate Agent</p>
                <a class="profile-link" href="{% url 'main:agents' %}">See Full Profile <i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <!-- Start Memebr 2 -->
          <div class="col-md-3 col-sm-6">
            <div class="agent-member">
              <div class="agent-thumbnail">
                <img src=" {% static 'assets/img/agent/agent-02.png' %} " alt="">
                <div class="overlay">
                  <div class="social-media">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
              <div class="info">
                <h4>Muhammad Waseem</h4>
                <p>Real Estate Agent</p>
                <a class="profile-link" href="{% url 'main:agents' %}">See Full Profile <i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <!-- Start Memebr 3 -->
          <div class="col-md-3 col-sm-6">
            <div class="agent-member">
              <div class="agent-thumbnail">
                <img src=" {% static 'assets/img/agent/agent-03.png' %} " alt="">
                <div class="overlay">
                  <div class="social-media">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
              <div class="info">
                <h4>Talha Javed</h4>
                <p>Real Estate Agent</p>
                <a class="profile-link" href="{% url 'main:agents' %}">See Full Profile <i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <!-- Start Memebr 4 -->
          <div class="col-md-3 col-sm-6">
            <div class="agent-member">
              <div class="agent-thumbnail">
                <img src=" {% static 'assets/img/agent/agent-04.png' %} " alt="">
                <div class="overlay">
                  <div class="social-media">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
              <div class="info">
                <h4>Hamza Majeed</h4>
                <p>Real Estate Broker</p>
                <a class="profile-link" href="{% url 'main:agents' %}">See Full Profile <i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <!-- End Memebr 4 -->
        </div>
      </div>
    </section>
    <!-- Start Agent Member Section --> 


    <!-- Clients Section -->
    <div class="clients section">
      <div class="container">
        <div class="row">
          <div id="clients-scroller">
            <div class="items">
              <img src=" {% static 'assets/img/clients/img1.png' %} " alt="">
            </div>
            <div class="items">
              <img src=" {% static 'assets/img/clients/img2.png' %} " alt="">
            </div>
            <div class="items">
              <img src=" {% static 'assets/img/clients/img3.png' %} " alt="">
            </div>
            <div class="items">
              <img src=" {% static 'assets/img/clients/img4.png' %} " alt="">
            </div>
            <div class="items">
              <img src=" {% static 'assets/img/clients/img5.png' %} " alt="">
            </div>
            <div class="items">
              <img src=" {% static 'assets/img/clients/img6.png' %} " alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Client Section End -->
    
 {% endblock %}