{% extends 'main/base.html' %}
{% load static %}
{% block content %}

    <!-- Page Header Start -->
    <div class="page-header" style="background: url( {% static 'assets/img/banner1.jpg' %} );">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <h2 class="page-title">FAQ</h2>
              <a href="{% url 'main:index' %}">Home</a>
              <span>/</span>
              <span class="current">Faq</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End --> 

    <!-- Main container Start -->  
    <div class="main-container section">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-12 col-xs-12">
            <h2 class="section-title">Frequently Asked Questions</h2>
            <!-- accordion start -->
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href=" {% static '#collapseOne' %} ">
                      Can a home depreciate in value?
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <p>
                     Older homes can generally cost less than new homes, however, there are many cases where new homes can also cost less then older homes. Most new homes will not have any backyard landscaping and some don”t include any front landscaping either. With an older home, the landscaping is normally already completed and could have 10”s of thoUSnds of dollars in landscaping done, which is included in the purchase price.
                    </p>
                    <p>
                      Taxes on some older homes may also be lower. Some people are charmed by the elegance of an older home but shy away because they”re concerned about potential maintenance costs. Consider a home warranty to get the peace of mind you deserve. A good Home Warranty plan protects you against unexpected repairs on many home systems and appliances for a full year or more after you move in.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href=" {% static '#collapseTwo' %} ">
                      Is an older home as good a value as a new home?
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>
                     Builders have to follow very strict guidelines in new-homes and additions, especially in the West and Northwest, where earthquake safety standards must be observed. In general, new homes are usually more fire-safe and better accommodating of new security and garage-door systems.
                    </p>
                    <p>
                      As you can see there are advantages and dis-advantages to each, but it really comes down to what fits you and what you are looking for in a home.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href=" {% static '#collapseThree' %} ">
                     What is a broker?
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>
                      An agent who is authorized to open and run his/her own agency. All real estate offices have one principal broker.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href=" {% static '#collapsefour' %} ">
                     How is interest calculated on a mortgage loan?
                    </a>
                  </h4>
                </div>
                <div id="collapsefour" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>
                     Most mortgages originated today calculate interest in arrears, unlike consumer loans which calculate interest to the date of payment receipt. As an example, when borrowers pay their February mortgage payments, they are paying the January interest. This method of calculating interest is based on a 360 day year in which each month has 30 days.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href=" {% static '#collapsefive' %} ">
                      Is there a minimum credit score?
                    </a>
                  </h4>
                </div>
                <div id="collapsefive" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>
                     Title insurance is insurance that protects the lender and buyer against any losses incurred from disputes over the title of a property.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- accordion End -->
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12 widget-area-sidebar">
            <div class="sidebar-inner">
              <div class="widget-container latest-listings">
                <h3 class="title-sidebar">Latest Listings</h3>
                <ul class="posts-list">
                  <li>
                    <div class="widget-thumb">
                      <a href="#"><img src=" {% static 'assets/img/blog/p1.png' %} " alt="" /></a>
                    </div>
                    <div class="widget-content">
                      <a href="#">Villa On Washington Ave</a>
                      <span>$ 5,500,000 </span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                  <li>
                    <div class="widget-thumb">
                      <a href="#"><img src=" {% static 'assets/img/blog/p2.png' %} " alt="" /></a>
                    </div>
                    <div class="widget-content">
                      <a href="#">Villa On Washington Ave</a>
                      <span>$ 5,500,000 </span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                  <li>
                    <div class="widget-thumb">
                      <a href="#"><img src=" {% static 'assets/img/blog/p3.png' %} " alt="" /></a>
                    </div>
                    <div class="widget-content">
                      <a href="#">Villa On Washington Ave</a>
                      <span>$ 5,500,000 </span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                  <li>
                    <div class="widget-thumb">
                      <a href="#"><img src=" {% static 'assets/img/blog/p4.png' %} " alt="" /></a>
                    </div>
                    <div class="widget-content">
                      <a href="#">Villa On Washington Ave</a>
                      <span>$ 5,500,000 </span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                  <li>
                    <div class="widget-thumb">
                      <a href="#"><img src=" {% static 'assets/img/blog/p5.png' %} " alt="" /></a>
                    </div>
                    <div class="widget-content">
                      <a href="#">Villa On Washington Ave</a>
                      <span>$ 5,500,000 </span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                </ul>
              </div>
              <div class="widget-container widget-featured">
                <h3 class="title-sidebar">Featured Properties</h3>
                <div id="post-carousel" class="post-slide owl-carousel" data-slider-pagination="true">
                  <div class="item">
                    <div class="widget-img">
                      <img src=" {% static 'assets/img/blog/img1.jpg' %} " alt="">
                      <div class="text">
                        <p>California Residence</p>
                        <span>$3000.000.00</span>
                      </div>
                    </div> 
                  </div>
                  <div class="item">
                    <div class="widget-img">
                      <img src=" {% static 'assets/img/blog/img2.jpg' %} " alt="">
                      <div class="text">
                        <p>2479 Murphy Court</p>
                        <span>$2900.000</span>
                      </div>
                    </div> 
                  </div>
                  <div class="item">
                    <div class="widget-img">
                      <img src=" {% static 'assets/img/blog/img3.jpg' %} " alt="">
                      <div class="text">
                        <p>2186 Rinehart Road</p>
                        <span>$2000.000.00</span>
                      </div>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
    <!-- Main container End -->  

{% endblock %}