{% extends 'main/base.html' %}

{% load static %}
{% block content %}


    <!-- Page Header Start -->
    <div class="page-header" style="background: url( {% static 'assets/img/banner1.jpg' %} );">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">            
            <div class="breadcrumb-wrapper">
              <h2 class="page-title">Submission Form</h2>
              <a href="{% url 'main:index' %}">Home</a>
              <span>/</span>
              <span class="current">Submission Form</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Content section Start --> 
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-9 col-md-offset-2">
            <div class="page-ads box">
              <h2 class="title-2">
                Post A Free EstateX Item
              </h2>
              <form class="form-Item">
                <div class="form-group">
                  <label class="control-label">Category</label>
                  <select class="dropdown-product selectpicker">
                    <option value="0">All Types</option>
                    <option value="apartments">Apartments (2)</option>
                    <option value="condos">Condos (1)</option>
                    <option value="houses">Houses (2)</option>
                    <option value="industrial">Industrial (1)</option>
                    <option value="land">Land (2)</option>
                    <option value="offices">Offices (1)</option>
                    <option value="retail">Retail (2)</option>
                    <option value="villas">Villas (1)</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Item</label>
                  <input name="Adtitle" placeholder="Item" class="form-control input-md" required="" type="text">
                  <span class="help-block">A great item needs at least 60 characters. </span>
                </div>
                <div class="form-group">
                  <label class="control-label" for="textarea">Item description</label>
                  <textarea class="form-control" id="textarea" name="textarea">description what makes your ad unique</textarea>
                </div>    
                <div class="form-group">
                  <label class="control-label" for="textarea">Price</label>            
                  <div class="form-inline">
                    <div class="form-group">                  
                      <div class="input-group">                        
                        <input type="text" id="price" class="form-control" placeholder="placeholder">
                        <span class="input-group-addon addon">$</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <p class="form-control-static" style="padding: 5px 10px;">or</p>
                    </div>
                    <div class="form-group">
                      <select class="dropdown-product selectpicker">
                        <option value="0">Select alternative pricing</option>
                        <option value="1">By deal</option>
                        <option value="2">By offer</option>
                        <option value="3">Exchange</option>
                        <option value="4">For free</option>
                      </select>
                    </div>
                  </div>
                </div>
                <h2 class="title-2">
                  EstateX Picture
                </h2>
                <div class="form-group">
                  <label class="control-label">Select images</label>
                  <div class="mb15">
                    <div class="input-group ">
                      <div tabindex="-1" class="form-control file-caption">
                          <div style="width: 239px;" class="file-caption-name"></div>
                      </div>
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-danger fileinput-remove fileinput-remove-button"><i class="icon-ban"></i> Remove</button>
                         <button type="submit" class="btn btn-success kv-fileinput-upload"><i class="icon-cloud-upload"></i> Upload</button>
                        <div class="btn btn-primary btn-file">
                          <i class="icon-folder"></i> &nbsp;Browse … 
                          <input class="file" data-preview-file-type="text" type="file">
                        </div>
                      </div>
                    </div>  
                  </div>
                  <div class="mb15">
                    <div class="input-group ">
                      <div tabindex="-1" class="form-control file-caption">
                          <div style="width: 239.12px;" class="file-caption-name"></div>
                      </div>
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-danger fileinput-remove fileinput-remove-button"><i class="icon-ban"></i> Remove</button>
                         <button type="submit" class="btn btn-success kv-fileinput-upload"><i class="icon-cloud-upload"></i> Upload</button>
                        <div class="btn btn-primary btn-file">
                          <i class="icon-folder"></i> &nbsp;Browse … 
                          <input class="file" data-preview-file-type="text" type="file">
                        </div>
                      </div>
                    </div>
                  </div>                  
                  <div class="mb15">
                    <div class="input-group ">
                      <div tabindex="-1" class="form-control file-caption">
                          <div style="width: 239.12px;" class="file-caption-name"></div>
                      </div>
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-danger fileinput-remove fileinput-remove-button"><i class="icon-ban"></i> Remove</button>
                         <button type="submit" class="btn btn-success kv-fileinput-upload"><i class="icon-cloud-upload"></i> Upload</button>
                        <div class="btn btn-primary btn-file">
                          <i class="icon-folder"></i> &nbsp;Browse … 
                          <input class="file" data-preview-file-type="text" type="file">
                        </div>
                      </div>
                    </div> 
                  </div>
                  <div class="mb15">
                    <div class="input-group ">
                      <div tabindex="-1" class="form-control file-caption">
                          <div style="width: 239.12px;" class="file-caption-name"></div>
                      </div>
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-danger fileinput-remove fileinput-remove-button"><i class="icon-ban"></i> Remove</button>
                         <button type="submit" class="btn btn-success kv-fileinput-upload"><i class="icon-cloud-upload"></i> Upload</button>
                        <div class="btn btn-primary btn-file">
                          <i class="icon-folder"></i> &nbsp;Browse … 
                          <input class="file" data-preview-file-type="text" type="file">
                        </div>
                      </div>
                    </div>  
                  </div>        
                  <p class="help-block">Add up to 5 photos. Use a real image of your product, not catalogs.</p>
                </div>
                <h2 class="title-2">
                  Your personal details
                </h2>
                <div class="form-group">
                  <label class="control-label" for="textarea">Name</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="control-label" for="textarea">Email</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="control-label" for="textarea">Phone Number</label>
                  <input type="text" class="form-control">
                  <div class="checkbox">
                    <label><input type="checkbox"> <small>Hide the phone number on this ads.</small></label>
                  </div>
                </div> 
                <div class="form-group">
                  <label class="control-label" for="textarea">Password</label>
                  <input type="password" class="form-control">
                </div> 
                <div class="form-group">
                  <label class="control-label" for="textarea">Location</label>
                  <select class="dropdown-product selectpicker">
                    <option>All Cities</option>
                    <option>New York</option>
                    <option>California</option>
                    <option>Washington</option>
                    <option>Birmingham</option>
                    <option>Chicago</option>
                    <option>Phoenix</option>
                  </select>
                </div>  
                <div class="form-group">
                  <div class="well">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet porta eros, eget facilisis arcu. Duis condimentum fermentum enim, ac rutrum erat venenatis vel. Morbi pharetra viverra faucibus.</p>
                    <div class="checkbox">
                      <label><input checked="checked" type="checkbox"> Sign Up for Newsletter</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox"> I agree to the <a href="#">Terms of Use</a></label>
                    </div>
                    <button type="button" class="btn btn-common">Submit</button>
                  </div> 
                </div>                            
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Content section End --> 

    <!-- Start Footer Section -->
{% endblock %}